.configurator {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 100px auto;
}

.configurator-distance,
.configurator-events {
	margin: 22px 0;
}

.configurator-title {
	font-weight: bold;
	margin: 11px 0;
}

.configurator-distance-slider,
.configurator-events-list {
	padding-top: 22px;
}

nav.configurator-events-list {
	width: 50%;
	margin: 0 auto;
}
