.home {
	margin: 100px auto;
	max-width: 400px;
}

.title {
	display: block;
	margin-bottom: 11px;
	font-weight: 700;
	font-size: 22px;
}

.location-label {
	display: block;
	font-weight: 700;
	font-size: 18px;
}

.get-location {
	margin: 11px;
}
