.results {
	margin: 100px auto;
	max-width: 400px;
}

nav.results-list {
	margin: 22px auto;
	max-height: 600px;
	background: #ececec;
	overflow: auto;
}

.results-title {
	font-weight: 700;
	font-size: 22px;
}
